[submodule "parlaylib"]
	path = parlaylib
	url = https://github.com/cmuparlay/parlaylib.git
[submodule "PAM"]
	path = PAM
	url = https://github.com/cmuparlay/PAM.git
[submodule "comparisonSort/ips4o/ips4oRepository"]
	path = benchmarks/comparisonSort/ips4o/ips4oRepository
	url = https://github.com/ips4o/ips4o.git
